.btn {
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  color: antiquewhite;
  background-color: #47474770;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #474747;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  }

  &:active {
    transform: translateY(1px);
  }
}
