.productImage {
  width: 200px;
  height: 250px;
  object-fit: contain;
  align-self: center;
}
.productTitle {
  color: #153248;
  text-align: center;
  margin-bottom: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  width: 350px;
  padding: 15px;
  margin: auto;
  &:hover {
    scale: 1.01;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
  height: 350px;
}
