.navbarContainer {
  width: 100%;
  height: 40px;
  background-color: #2e2e2e;
  color: antiquewhite;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}
